/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-ht-faq-heroic-faq-group-gb {
  background-color: #fff;
  color: #000;
  padding: 2px; }

.gutenberg .hfaqwrapper .hfaq__answercontent p {
  margin-top: 0; }
